@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* Smooth scrolling ke liye */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #010409;
}